global
    maxconn 20000
    nbthread 1
    tune.bufsize 16384
    tune.maxrewrite 1024

defaults
    mode tcp
    no log
    option dontlognull
    option splice-auto
    retries 0
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout queue 2s

frontend main
    bind *:9999 backlog 4096
    default_backend api

backend api
    balance roundrobin
    default-server maxconn 6000
    server service1 unix@/sockets/service-1.sock
    server service2 unix@/sockets/service-2.sock
